<template>
  <div class="container">
    <div :id="this.$props.revealId" class="reveal" data-reveal>
      <slot />
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <a href="#" :class="this.$props.buttonClass" v-on:click="openReveal()">{{ this.$props.buttonText }}</a>
  </div>
</template>

<script>
export default {
  name: 'reveal',
  props: {
    revealId: String,
    buttonClass: String,
    buttonText: String
  },
  mounted() {
    this.reveal = new Foundation.Reveal($(`#${this.$props.revealId}`), {
      // These options can be declarative using the data attributes
      animationIn: 'scale-in-up',
    });
  },
  methods: {
    // Added the below openReveal method for two reasons:
    // 1) There was a bug preventing the reveal from working once
    // you navigated away and back to the reveal component.
    // 2) Most dialogs will need to be opened using code.
    openReveal() {
      this.reveal.open();
    },
  },
  destroyed() {
    this.reveal.destroy();
  },
};
</script>

<style lang="scss" scoped>
</style>