/*=Global
---------------------------------------------------------------------*/
*:focus {
  outline: none;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

/*=Layout
---------------------------------------------------------------------*/

// Container class
// container.container--large
.container {
	@include xy-grid-container;

	@each $breakpoint-name, $breakpoint in $breakpoints {
		&--#{$breakpoint-name} {max-width: $breakpoint}
	}
	// @include m(full) {max-width: 100%};
	&--full {@include max-width-100;}
}

// Text Transform
// ex: .text--upper
.text {
  &--upper {text-transform: uppercase}
  &--lower {text-transform: lowercase}
  &--cap {text-transform: capitalize}
  &--underline {text-decoration: underline}
  &--normal {text-transform: none}
  
  // Text Color
  // ex: .text-color--secondary 
	@each $name, $color in $foundation-palette {
		@include m($name) {color: $color}
	}
}

// Add some display styles.
// ex: .display--inline-block
.display {
	@each $display in none block inline-block flex inline-flex grid {
		&--#{$display} {display: $display}
	}  
}

// Add some display styles.
// ex: .pos--absolute
.pos {
	@each $pos in relative fixed absolute static sticky {
    &--#{$pos} {position: $pos}
	}  
}

// Overflow
// ex: .overflow--hidden
.overflow {
  &--hidden {overflow: hidden}
  &--visible {overflow: visible}
  &--auto {overflow: auto}
  &--scroll {overflow: scroll}
}

// Background
// ex: .bg--secondary & .bg-cover
.bg {
  @each $name, $color in $foundation-palette {
    @include m($name) {background-color: $color}
  }

  @include m(cover) {background-size: cover}
  @include m(contain) {background-size: contain}
}

// Background position. 
// ex: .bg-pos--left-top, .bg-pos--center 
.bg-pos {
  $posx-arr: left center right;
  $posy-arr: top center bottom;
  @each $posx in $posx-arr {
    @each $posy in $posy-arr {
      @if (center == $posx) and (center == $posy) {
        @include m(center) {background-position: center center}
      }
      @else {
        @include m(#{$posx}-#{$posy}) {background-position: $posx $posy;}
      }
    }
  }
}

// Letter spacing - increments of .01em
// ex: .text-spacing--10
@include b(text-spacing) {
	@for $i from 0 through 20 {
		@include m(#{$i}) {letter-spacing: $i * .01em}
	}
}

@include b(line-height) {
  @for $i from 0 through 20 {
    @include m(#{$i}) {line-height: $i * .1em}
  }
}

// Breakpoint-inclusive margin/padding convenience classes
// ex: .mt-4--large .py-2 .px-12--xlarge
@for $step from 0 through 16 {
  @each $spacing-type in margin padding {
    $spacing-prefix: str-slice($spacing-type, 0, 1);
    @each $side in top bottom left right {
      $prefix: str-slice($side, 0, 1);
      .#{$spacing-prefix}#{$prefix}-#{$step} {
        #{$spacing-type}-#{$side}: #{$step} * 1rem;
      }
      @each $bp in small medium large xlarge xxlarge {
        .#{$spacing-prefix}#{$prefix}-#{$step}--#{$bp} {
          @include breakpoint($bp) {
            #{$spacing-type}-#{$side}: #{$step} * 1rem;
          }
        }
      }
    }
    .#{$spacing-prefix}-#{$step} {
      #{$spacing-type}-top: #{$step} * 1rem;
      #{$spacing-type}-bottom: #{$step} * 1rem;
      #{$spacing-type}-left: #{$step} * 1rem;
      #{$spacing-type}-right: #{$step} * 1rem;
    }
    .#{$spacing-prefix}x-#{$step} {
      #{$spacing-type}-left: #{$step} * 1rem;
      #{$spacing-type}-right: #{$step} * 1rem;
    }
    .#{$spacing-prefix}y-#{$step} {
      #{$spacing-type}-top: #{$step} * 1rem;
      #{$spacing-type}-bottom: #{$step} * 1rem;
    }
    @each $bp in small medium large xlarge xxlarge {
      .#{$spacing-prefix}-#{$step}--#{$bp} {
        @include breakpoint($bp) {
          #{$spacing-type}-top: (#{$step} * 1rem)!important;
          #{$spacing-type}-bottom: (#{$step} * 1rem)!important;
          #{$spacing-type}-left: (#{$step} * 1rem)!important;
          #{$spacing-type}-right: (#{$step} * 1rem)!important;
        }
      }
      .#{$spacing-prefix}x-#{$step}--#{$bp} {
        @include breakpoint($bp) {
          #{$spacing-type}-left: (#{$step} * 1rem)!important;
          #{$spacing-type}-right: (#{$step} * 1rem)!important;
        }
      }
      .#{$spacing-prefix}y-#{$step}--#{$bp} {
        @include breakpoint($bp) {
          #{$spacing-type}-top: (#{$step} * 1rem)!important;
          #{$spacing-type}-bottom: (#{$step} * 1rem)!important;
        }
      }
    }
  }
}

