// Sections
// ---------------------------------------------------------------------

// Section base - imposes max width on its .section__container
// ex: .section
// ex: .section.section--xlarge
@include b(section) {
	@include flex;
	@include flex-align(center, middle);

	@include e(container) {
		//@include xy-gutters($gutters: $grid-container-padding, $gutter-type: padding);
		width: 100%;
		max-width: 100%;
		position: relative;
	}
	
	// .section__container max-widths
	@each $breakpoint-name, $breakpoint in $breakpoints {
		@include m($breakpoint-name) {
			@include e(container) {@extend .container--#{$breakpoint-name};}
		}
	}

}

// Section padding - applies to .section and adds a standardized y pad to a section, the x padding is minimal
// ex: .section-padding--large
@include b(section-pad) {

	@include m(none) {
		padding: 0;
	}

	@include m(small) {
		padding: 1rem;
		@include breakpoint(medium up) {padding: 1.85rem 1rem}
		@include breakpoint(large up) {padding: 1.85rem 1rem}
	}

	@include m(med) {
		padding: 2rem 1rem;
		@include breakpoint(medium up) {padding: 4rem 1rem}
		@include breakpoint(large up) {padding: 4.8rem 1rem}
	}

	@include m(large) {
		padding: 3.5rem 1rem;
		@include breakpoint(medium up) {padding: 4.4rem 1rem}
		@include breakpoint(large up) {padding: 5.2rem 1rem}
	}

	@include m(xlarge) {
		padding: 5rem 1.2rem;
		@include breakpoint(medium up) {padding: 6.4rem 1.2rem}
		@include breakpoint(large up) {padding: 7rem 1.2rem}
	}
	@include m(xxlarge) {
		padding: 6rem 1.5rem;
		@include breakpoint(medium up) {padding: 7.4rem 1.5rem}
		@include breakpoint(large up) {padding: 8rem 1.5rem}
	}
}
