<template>
  <footer>
    <h2>Footer</h2>
    <FooterMenu />
  </footer>
</template>

<script>
import FooterMenu from '../widgets/navigation/FooterMenu'

export default {
  data () {
    return {}
  },
  components: {
    FooterMenu
  }
}
</script>

<style lang="scss" scoped>
</style>