<template>
  <header>
    <h1>Header</h1>
    <PrimaryMenu />
  </header>
</template>

<script>
import PrimaryMenu from '../widgets/navigation/PrimaryMenu'

export default {
  data () {
    return {}
  },
  components: {
    PrimaryMenu
  }
}
</script>

<style lang="scss" scoped>
</style>