<template>
    <div class="container">
      <div>
          <recent-posts-widget limit="5">Recent Posts</recent-posts-widget>
      </div>
      <div>
          <pages-widget limit="5">Pages</pages-widget>
      </div>
      <div>
          <h3>Welcome!</h3>
          <p>Here's a quick and simple Vue WordPress boilerplate package.</p>
      </div>
      <reveal reveal-id="home-page-example-reveal" button-class="button large button--primary" button-text="Open Reveal">
        <h1>Awesome. I Have It.</h1>
        <p class="lead">Your couch. It is mine.</p>
        <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
      </reveal>
    </div>
</template>

<script>
import RecentPostsWidget from './widgets/RecentPosts'
import PagesWidget from './widgets/Pages'
import Reveal from './Foundation/Reveal'

export default {
    components: {
        RecentPostsWidget,
        PagesWidget,
        Reveal
    }
}
</script>

<style lang="scss">
</style>