<template>
  <nav>
    <ul>
      <li 
        v-for="menuItem in footerMenu"
        :key="menuItem.id">
        <a :href="menuItem.url">
          {{ menuItem.title }}
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      footerMenu: 'footerMenu',
      footerMenuLoaded: 'footerMenuLoaded'
    })
  },

  mounted() {
    this.$store.dispatch('getFooterMenu')
  }
}
</script>

<style lang="scss" scoped>
</style>